GROQ_API_KEY=your_value_here

CLOUDINARY_CLOUD_NAME=your_value_here
CLOUDINARY_API_KEY=your_value_here
CLOUDINARY_API_SECRET=your_value_here

SUPABASE_URL=your_value_here
SUPABASE_KEY=your_value_here

YOUTUBE_CLIENT_ID=your_value_here
YOUTUBE_CLIENT_SECRET=your_value_here
YOUTUBE_REDIRECT_URI=your_value_here

FRONTEND_URL=your_value_here
